@use "./globals.scss" as *;

.note-article {
  margin: 1rem 0.5rem;

  @media (max-width: 640px) {
    margin: 1rem 0rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 0.5rem 0;
    font-family: var(--font-unique);
  }

  /* Tighten the gap between two adjacent headings of different levels. */
  h1 + h2,
  h1 + h3,
  h1 + h4,
  h1 + h5,
  h1 + h6,
  h2 + h3,
  h2 + h4,
  h2 + h5,
  h2 + h6,
  h3 + h4,
  h3 + h5,
  h3 + h6,
  h4 + h5,
  h4 + h6,
  h5 + h6 {
    margin-top: 0rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: normal;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1rem;
    font-weight: 600;
  }

  h6 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-main-3);
  }

  @extend .article-typeface;

  ol ol, ol ul, ul ol, ul ul {
    margin-top: 0;
  }

  ol, ul {
    padding-left: 1rem;
  }

  li::marker {
    font-weight: bold;
    color: var(--color-accent-2);
  }

  blockquote {
    margin: 0;
    padding-left: 0.75rem;
    color: var(--color-main-2);
    border: none;
    border-left: 0.25rem solid var(--color-sub-2);
  }

  table,
  img {
    margin: 0;
    margin-top: 0.5rem;
  }

  table {
    border-collapse: collapse;
    font-size: 0.875rem;
  }

  th,
  td {
    padding: 0.25rem 0.5rem;

    text-align: left;
    vertical-align: top;
  }

  th {
    background-color: var(--color-sub);
  }

  tr:nth-child(even) {
    background-color: var(--color-sub-alt);
  }

  img {
    border-radius: 0.25rem;
  }

  hr {
    width: 80%;

    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--color-sub-2);
  }

  pre {
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;

    min-height: 2rem;
    max-height: 32rem;

    overflow-x: auto;
    overflow-y: auto;

    color: var(--color-main);
    background-color: var(--color-pre);
  }

  pre code {
    display: block;
    padding: 0;

    background-color: transparent;
    margin-right: 2.5rem;
  }

  code {
    display: inline;
    vertical-align: baseline;

    font-family: var(--font-mono);
    font-size: 0.875em;
    line-height: 1.25;
    letter-spacing: -0.02em;

    background-color: var(--color-sub-alt);
    padding: 0.125rem 0.25rem;
    border-radius: 0.5rem;
  }

  a {
    color: var(--color-main);
  }

  a:hover {
    color: var(--color-main-3);
  }

  i, em {
    color: var(--color-accent-2);
  }

  b, strong {
    color: var(--color-accent-2);
  }

  s, del {
    color: var(--color-main-3);
    text-decoration: line-through;
  }
}

.heading-link {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;

  > img {
    margin: 0;
  }
}
