@font-face {
  font-family: "Exo";
  src: url("/fonts/exo.medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("/fonts/exo.medium.italic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("/fonts/exo.demi-bold.woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Exo";
  src: url("/fonts/exo.demi-bold.italic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.vf.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.vf.italic.woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/cascadia-code.woff2");
  font-style: italic;
  font-display: swap;
}

:root {
  --color-main: #333;
  --color-main-2: #555;
  --color-main-3: #888;
  --color-main-dots: #555;

  --color-sub: #eee;
  --color-sub-2: #ddd;
  --color-sub-dots: #ccc;

  --color-accent: #038f55;
  --color-accent-2: #04804c;

  --color-pre: #fafafa;
  --color-sub-alt: #f2f2f2;

  --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

  --font-main: "Inter", var(--font-base);
  --font-unique: "Exo", var(--font-base);
  --font-mono: "Cascadia Code", "Courier New", Courier, monospace, monospace;
}

body {
  font-family: var(--font-main);

  /* Minimum width to prevent the layout get too cramped. */

  min-width: 360px;

  /* Disable default scroll bar. */

  &::-webkit-scrollbar {
    display: none;
  }

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-width: none;
    }
  }
}
