@font-face {
  font-family: "Exo";
  src: url("/fonts/exo.medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.vf.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.vf.italic.woff2");
  font-style: italic;
  font-display: swap;
}

:root {
  --color-main: #333;
  --color-main-dots: #555;
  --color-sub: #eee;
  --color-sub-2: #ddd;
  --color-sub-dots: #ccc;

  --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-main: "Inter", var(--font-base);
  --font-unique: "Exo", var(--font-base);
}

body {
  font-family: var(--font-main);

  /* Disable default scroll bar. */

  &::-webkit-scrollbar {
    display: none;
  }

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-width: none;
    }
  }
}
